<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:view locale="#{preferencesController.selectedLocale}">
        <h:head>
            <title><ui:insert name="title">Default name</ui:insert></title>

            <h:outputStylesheet library="css" name="primefaces.css" />
            <h:outputScript library="js" name="main.js" />
        </h:head>

        <h:body>

            <!--@elvariable id="identity" type="org.picketlink.Identity"-->
            <p:layout fullPage="true">
                <p:layoutUnit position="north" minSize="60">
                    <h:form>
                        <div align="right">
                            <h:panelGrid columns="4">
                                <p:themeSwitcher value="#{preferencesController.selectedTheme}">
                                    <f:selectItems value="#{preferencesController.themes}" />
                                    <p:ajax />
                                </p:themeSwitcher>
                                <p:selectOneMenu value="#{preferencesController.selectedLocale}" converter="localeConverter">
                                    <p:ajax event="change" listener="#{preferencesController.localeSelectionChanged}" update="@all" />
                                    <f:selectItems value="#{preferencesController.locales.entrySet().toArray()}" var="locale"
                                                   itemLabel="#{locale.key}" itemValue="#{locale.value}" />
                                </p:selectOneMenu>
                                <p:spacer width="20" height="20" />
                                <ui:fragment rendered="#{identity.loggedIn}">
                                    <p:commandButton value="${msg['Logout']}" action="#{identity.logout}"
                                                     oncomplete="restaurant.utils.redirect('login.xhtml')" />
                                </ui:fragment>
                                <ui:fragment rendered="#{!identity.loggedIn}">
                                    <p:button value="#{msg['Login']}" outcome="/login" />
                                </ui:fragment>
                            </h:panelGrid>
                        </div>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="300">
                    <ui:fragment rendered="#{identity.loggedIn}">
                        <ui:insert name="authorizedWestContent">Default west content</ui:insert>
                    </ui:fragment>
                    <ui:fragment rendered="#{!identity.loggedIn}">
                        <ui:insert name="notAuthorizedWestContent">Default not auth west content</ui:insert>
                    </ui:fragment>
                </p:layoutUnit>

                <p:layoutUnit position="center">

                    <p:layout>
                        <p:layoutUnit position="north" minSize="60">
                            <ui:fragment rendered="#{identity.loggedIn}">
                                <ui:insert name="authorizedFormTitle">Default form title</ui:insert>
                            </ui:fragment>
                            <ui:fragment rendered="#{!identity.loggedIn}">
                                <ui:insert name="notAuthorizedFormTitle">Default not auth form title</ui:insert>
                            </ui:fragment>
                        </p:layoutUnit>

                        <p:layoutUnit position="center">
                            <ui:fragment rendered="#{identity.loggedIn}">
                                <ui:insert name="authorizedFormContent">Default center content</ui:insert>
                            </ui:fragment>
                            <ui:fragment rendered="#{!identity.loggedIn}">
                                <ui:insert name="notAuthorizedFormContent">Default not auth center content</ui:insert>
                            </ui:fragment>
                        </p:layoutUnit>
                    </p:layout>

                </p:layoutUnit>

            </p:layout>
        </h:body>
    </f:view>

</html>
