<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="../../../WEB-INF/template/contentTemplate.xhtml">
        <ui:define name="title">Creating new food type</ui:define>

        <ui:define name="authorizedFormTitle">
            <div align="center"><h:outputText value="#{msg['Creating_new_food_type']}" /></div>
        </ui:define>

        <ui:define name="authorizedWestContent">
            <ui:include src="../../../WEB-INF/admin/menu.xhtml" />
        </ui:define>

        <ui:define name="authorizedFormContent">
            <p:growl autoUpdate="true" globalOnly="true" />

            <h:form>
                <h:panelGrid columns="3">
                    <p:outputLabel for="name" value="#{msg['Name']}: " />
                    <p:inputText id="name" value="#{foodTypeCreationController.foodType.name}" />
                    <p:message for="name" />

                    <p:outputLabel for="description" value="#{msg['Description']}: " />
                    <p:inputTextarea id="description" value="#{foodTypeCreationController.foodType.description}" autoResize="false" />
                    <p:message for="description" />

                </h:panelGrid>
                <p:commandButton value="#{msg['Create']}" action="#{foodTypeCreationController.create}" update="@form :dataTableForm" />
            </h:form>

            <br />

            <h:form id="dataTableForm">
                <p:outputPanel id="foodTypes">
                    <p:dataTable id="foodTypesTable" value="#{foodTypesList}" var="foodType" style="width: 750px">
                        <p:column headerText="#{msg['Name']}">
                            <h:outputText value="#{foodType.name}" />
                        </p:column>
                        
                        <p:column style="width: 50px; text-align: center">
                            <p:commandButton update=":dataTableForm:foodTypeDetail" oncomplete="PF('foodTypeDialog').show()" icon="ui-icon-search" title="View">
                                <f:setPropertyActionListener value="#{foodType}" target="#{foodTypeController.selectedFoodType}" />
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="#{msg['Action']}">
                            <p:commandLink value="#{msg['Remove']}" actionListener="#{foodTypes.removeFoodType(foodType.id)}" update="dataTableForm" />
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>

                <p:dialog header="#{msg['Food_type_info']}" widgetVar="foodTypeDialog" showEffect="fade" hideEffect="bounce" resizable="false">
                    <p:outputPanel id="foodTypeDetail">
                        <h:panelGrid columns="2">
                            <h:outputLabel for="selectedName" value="#{msg['Name']}: " />
                            <h:outputText id="selectedName" value="#{foodTypeController.selectedFoodType.name}" />

                            <ui:fragment rendered="#{!empty foodTypeController.selectedFoodType.description}">
                                <p:outputLabel for="selectedDescription" value="#{msg['Description']}: " />
                                <h:outputText id="selectedDescription" value="#{foodTypeController.selectedFoodType.description}" />
                            </ui:fragment>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

        </ui:define>
    </ui:composition>

</html>
