<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:form>
        <p:accordionPanel activeIndex="-1">
            <p:tab title="#{msg['Create_items']}">
                <h:panelGrid columns="1">
                    <p:link value="#{msg['Create_new_food_item']}" outcome="/admin/food/item/create" />
                    <p:link value="#{msg['Create_new_food_type']}" outcome="/admin/food/type/create" />
                    <p:link value="#{msg['Visual']}" outcome="/admin/food/visual/diagram" />
                </h:panelGrid>
            </p:tab>

            <p:tab title="#{msg['Statistic']}">
                <h:panelGrid columns="1">
                    <p:link value="#{msg['By_day']}" outcome="/admin/food/visual/statistic/byDay" />
                    <p:link value="#{msg['By_period']}" outcome="/admin/food/visual/statistic/byPeriod" />
                </h:panelGrid>
            </p:tab>
        </p:accordionPanel>
    </h:form>

</ui:composition>
