<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default name</ui:insert></title>
    </h:head>

    <h:body>

        <p:layout fullPage="true">
            <p:layoutUnit position="north" minSize="200" />
            <p:layoutUnit position="center">
                <!--@elvariable id="identity" type="org.picketlink.Identity"-->
                <ui:fragment rendered="#{identity.loggedIn}">
                    <ui:insert name="authorizedCenterContent">Default authorized center content</ui:insert>
                </ui:fragment>
                <ui:fragment rendered="#{!identity.loggedIn}">
                    <ui:insert name="notAuthorizedCenterContent">Default authorized center content</ui:insert>
                </ui:fragment>
            </p:layoutUnit>
        </p:layout>

    </h:body>
</html>
