<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="../../WEB-INF/template/contentTemplate.xhtml">
        <ui:define name="title">Food's for sale</ui:define>

        <ui:define name="notAuthorizedFormTitle">
            <div align="center"><h:outputText value="#{msg['Selecting_foods']}" /></div>
        </ui:define>

        <ui:define name="notAuthorizedWestContent">
            <ui:include src="../../WEB-INF/user/menu.xhtml" />
        </ui:define>

        <ui:define name="notAuthorizedFormContent">
            <p:growl autoUpdate="true" globalOnly="true" />

            <h:form>
                <p:panel header="#{msg['Search_by_criteria_form']}">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="foodType" value="#{msg['Type']}:" />
                        <p:selectOneMenu id="foodType" converter="foodTypeConverter">
                            <p:ajax event="change" listener="#{foodItemSearchController.foodTypeSelectionChanged}" />
                            <f:selectItem noSelectionOption="true" />
                            <f:selectItems value="#{foodTypesList}" var="foodType"
                                           itemLabel="#{foodType.name}" itemValue="#{foodType}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="foodPrice" value="#{msg['Price']}:" />
                        <h:panelGrid id="foodPrice" columns="1">
                            <h:outputText id="displayRange" value="#{msg['Between']} #{foodItemSearchController.min} #{msg['and']} #{foodItemSearchController.max}" />
                            <p:slider for="min,max" maxValue="#{foodItemSearchController.max}" minValue="#{foodItemSearchController.min}" display="displayRange" range="true" style="width: 400px" />
                        </h:panelGrid>

                        <h:inputHidden id="min" value="#{foodItemSearchController.min}" />
                        <h:inputHidden id="max" value="#{foodItemSearchController.max}" />

                        <p:commandButton value="#{msg['Search']}" action="#{foodItemSearchController.search}" icon="fa fa-filter" update=":dataTableForm" />

                    </h:panelGrid>
                </p:panel>
            </h:form>

            <br />

            <h:form id="dataTableForm">
                <p:growl autoUpdate="true" globalOnly="true" />
                <p:outputPanel id="foodItems">
                    <p:dataTable id="foodItemsTable" value="#{foodItemSearchController.foundedFoodItems}" var="foodItem" style="width: 750px">
                        <p:column headerText="#{msg['Name']}">
                            <h:outputText value="#{foodItem.name}" />
                        </p:column>

                        <p:column headerText="#{msg['Type']}" sortBy="#{foodItem.type.name}">
                            <h:outputText value="#{foodItem.type.name}" />
                        </p:column>

                        <p:column headerText="#{msg['Price']}">
                            <h:outputText value="#{foodItem.price}" />
                        </p:column>

                        <p:column style="width: 50px; text-align: center">
                            <p:commandButton update=":dataTableForm:foodItemDetail" oncomplete="PF('foodItemDialog').show()" icon="fa fa-search" title="View">
                                <f:setPropertyActionListener value="#{foodItem}" target="#{foodItemController.selectedFoodItem}" />
                            </p:commandButton>
                        </p:column>

                        <p:column style="width: 50px; text-align: center">
                            <p:commandButton update=":dataTableForm:addToCart" oncomplete="PF('addToCartDialog').show()" icon="fa fa-arrow-down" title="Add to cart">
                                <f:setPropertyActionListener value="#{foodItem}" target="#{cartAddController.selectedFoodItem}" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>

                <p:dialog header="#{msg['Food_item_infos']}" widgetVar="foodItemDialog" showEffect="fade" hideEffect="bounce" resizable="false">
                    <p:outputPanel id="foodItemDetail">
                        <h:panelGrid columns="2">
                            <p:outputLabel for="selectedName" value="#{msg['Name']}: " />
                            <h:outputText id="selectedName" value="#{foodItemController.selectedFoodItem.name}" />

                            <ui:fragment rendered="#{!empty foodTypeController.selectedFoodType.description}">
                                <h:outputLabel for="selectedDescription" value="#{msg['Description']}: " />
                                <h:outputText id="selectedDescription" value="#{foodItemController.selectedFoodItem.description}" />
                            </ui:fragment>

                            <p:outputLabel for="selectedType" value="#{msg['Type']}: " />
                            <h:outputText id="selectedType" value="#{foodItemController.selectedFoodItem.type.name}" />

                            <p:outputLabel for="selectedPrice" value="#{msg['Price']}: " />
                            <h:outputText id="selectedPrice" value="#{foodItemController.selectedFoodItem.price}" />
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:dialog header="#{msg['Add_to_cart']}" widgetVar="addToCartDialog" showEffect="fade" hideEffect="bounce" resizable="false">
                    <p:outputPanel id="addToCart">
                        <h:panelGrid columns="2">
                            <p:outputLabel for="addToCartName" value="#{msg['Name']}: " />
                            <h:outputText id="addToCartName" value="#{cartAddController.selectedFoodItem.name}" />

                            <p:outputLabel for="addToCartCount" value="#{msg['Count']}: " />
                            <p:spinner id="addToCartCount" value="#{cartAddController.count}" suffix=" #{msg['items']}" min="1" max="50" />

                            <p:commandButton value="#{msg['Add_to_cart']}" action="#{cartAddController.add}" oncomplete="PF('addToCartDialog').hide()" />
                            <p:commandButton value="#{msg['Close']}" onclick="PF('addToCartDialog').hide()" />
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>
            </h:form>
        </ui:define>

    </ui:composition>
</html>
