<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="../../../WEB-INF/template/contentTemplate.xhtml">
        <ui:define name="title">Creating new food item</ui:define>

        <ui:define name="authorizedFormTitle">
            <div align="center"><h:outputText value="#{msg['Creation_new_food_item']}" /></div>
        </ui:define>

        <ui:define name="authorizedWestContent">
            <ui:include src="../../../WEB-INF/admin/menu.xhtml" />
        </ui:define>

        <ui:define name="authorizedFormContent">
            <p:growl autoUpdate="true" globalOnly="true" />

            <h:form>
                <h:panelGrid columns="3">
                    <p:outputLabel for="name" value="#{msg['Title']}: " />
                    <p:inputText id="name" value="#{foodItemCreationController.foodItem.name}" />
                    <p:message for="name" />

                    <p:outputLabel for="description" value="#{msg['Description']}: " />
                    <p:inputTextarea id="description" value="#{foodItemCreationController.foodItem.description}" autoResize="false" />
                    <p:message for="description" />

                    <p:outputLabel for="price" value="#{msg['Price']}: " />
                    <pe:inputNumber id="price" value="#{foodItemCreationController.foodItem.price}" />
                    <p:message for="price" />

                    <p:outputLabel for="type" value="#{msg['Type']}: " />
                    <p:selectOneMenu id="type" value="#{foodItemCreationController.foodItem.type}" converter="foodTypeConverter">
                        <f:selectItems value="#{foodTypesList}" var="foodType"
                                       itemLabel="#{foodType.name}" itemValue="#{foodType}" />
                    </p:selectOneMenu>
                    <p:message for="type" />

                </h:panelGrid>
                <p:commandButton value="#{msg['Create']}" action="#{foodItemCreationController.create}" update="@form :dataTableForm" />
            </h:form>

            <br />

            <h:form id="dataTableForm">
                <p:outputPanel id="foodItems">
                    <p:dataTable id="foodItemsTable" value="#{foodItemsList}" var="foodItem" style="width: 750px">
                        <p:column headerText="#{msg['Title']}">
                            <h:outputText value="#{foodItem.name}" />
                        </p:column>

                        <p:column headerText="#{msg['Type']}" sortBy="#{foodItem.type.name}">
                            <h:outputText value="#{foodItem.type.name}" />
                        </p:column>

                        <p:column headerText="#{msg['Price']}">
                            <h:outputText value="#{foodItem.price}" />
                        </p:column>

                        <p:column style="width: 50px; text-align: center">
                            <p:commandButton update=":dataTableForm:foodItemDetail" oncomplete="PF('foodItemDialog').show()" icon="ui-icon-search" title="View">
                                <f:setPropertyActionListener value="#{foodItem}" target="#{foodItemController.selectedFoodItem}" />
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="#{msg['Action']}">
                            <!--@elvariable id="foodItems" type="org.oksana.diplom.workplace.food.item.FoodItems"-->
                            <p:commandLink value="#{msg['Remove']}" actionListener="#{foodItems.removeFoodItem(foodItem.id)}" update="dataTableForm" />
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>

                <p:dialog header="#{msg['Food_item_info']}" widgetVar="foodItemDialog" showEffect="fade" hideEffect="bounce" resizable="false">
                    <p:outputPanel id="foodItemDetail">
                        <h:panelGrid columns="2">
                            <h:outputLabel for="selectedName" value="#{msg['Title']}: " />
                            <h:outputText id="selectedName" value="#{foodItemController.selectedFoodItem.name}" />

                            <ui:fragment rendered="#{!empty foodTypeController.selectedFoodType.description}">
                                <h:outputLabel for="selectedDescription" value="#{msg['Description']}: " />
                                <h:outputText id="selectedDescription" value="#{foodItemController.selectedFoodItem.description}" />
                            </ui:fragment>

                            <h:outputLabel for="selectedType" value="#{msg['Type']}: " />
                            <h:outputText id="selectedType" value="#{foodItemController.selectedFoodItem.type.name}" />

                            <h:outputLabel for="selectedPrice" value="#{msg['Price']}: " />
                            <h:outputText id="selectedPrice" value="#{foodItemController.selectedFoodItem.price}" />
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

        </ui:define>
    </ui:composition>

</html>
