<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../../../WEB-INF/admin/adminTemplate.contentTemplate.xhtml">
        <ui:define name="title">Food statistic</ui:define>

        <ui:define name="authorizedFormTitle">
            <div align="center"><h:outputText value="Food statistic" /></div>
        </ui:define>

        <ui:define name="authorizedWestContent">
            <ui:include src="../../../WEB-INF/admin/adminMenu.adminAccordeonMenu.xhtml" />
        </ui:define>

        <ui:define name="authorizedFormContent">

            <p:chart type="line" model=""

        </ui:define>
    </ui:composition>

</html>
