<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
    <h:outputStylesheet library="css" name="static.css" />
</h:head>

<h:body>
    <h1>404</h1>
    <h3>The page you were looking for doesn't exist.</h3>
    <hr/>
    <p>You may have mistyped the address or the page may have moved.</p>
</h:body>

</html>