<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="WEB-INF/admin/securityTemplate.xhtml">

        <ui:define name="title">Login page</ui:define>

        <ui:define name="notAuthorizedCenterContent">
            <p:growl autoUpdate="true" globalOnly="false" />
            <h:form>
                <h:panelGrid columns="2" style="margin: 0 auto">
                    <p:outputLabel for="login" value="#{msg['Login']}: " />
                    <p:inputText id="login" value="#{loginCredentials.userId}" required="true" />

                    <p:outputLabel for="password" value="#{msg['Password']}: " />
                    <p:password id="password" value="#{loginCredentials.password}" required="true" />

                    <p:commandButton value="#{msg['Login']}" action="#{loginController.login}" update="@form" />
                    <p:commandButton value="#{msg['Register']}" action="register.xhtml?faces-redirect=true" immediate="true" ajax="false" />
                </h:panelGrid>
            </h:form>
        </ui:define>

        <ui:define name="authorizedCenterContent">
            <h:outputText value="woops, you already authorized!" />
        </ui:define>

    </ui:composition>

</html>
