<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="WEB-INF/admin/securityTemplate.xhtml">

        <ui:define name="title">#{msg['Register_page']}</ui:define>

        <ui:define name="notAuthorizedCenterContent">
            <p:growl autoUpdate="true" globalOnly="false" showDetail="true" sticky="true" />
            <h:form>
                <h:panelGrid columns="2" style="margin: 0 auto">
                    <p:outputLabel for="firstName" value="#{msg['First_name']}: " />
                    <p:inputText id="firstName" value="#{registrationController.user.firstName}" required="true" />

                    <p:outputLabel for="lastName" value="#{msg['Last_name']}: " />
                    <p:inputText id="lastName" value="#{registrationController.user.lastName}" required="true" />

                    <p:outputLabel for="loginName" value="#{msg['Login']}: " />
                    <p:inputText id="loginName" value="#{registrationController.user.loginName}" required="true" />

                    <p:outputLabel for="password1" value="#{msg['Password']}: " />
                    <p:password id="password1" value="#{registrationController.password}" match="password2" required="true" />

                    <p:outputLabel for="password2" value="#{msg['Password']}: " />
                    <p:password id="password2" value="#{registrationController.password}" required="true" />

                    <p:commandButton value="#{msg['Login']}" action="login.xhtml?faces-redirect=true" immediate="true" ajax="false" />
                    <p:commandButton value="#{msg['Register']}" action="#{registrationController.register}" update="@form" />
                </h:panelGrid>
            </h:form>
        </ui:define>

        <ui:define name="authorizedCenterContent">
            <h:outputText value="woops, you already authorized!" />
        </ui:define>

    </ui:composition>
</html>
