<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="../WEB-INF/template/contentTemplate.xhtml">
        <ui:define name="title">Index</ui:define>

        <ui:define name="notAuthorizedFormTitle">
            <div align="center"><h:outputText value="" /></div>
        </ui:define>

        <ui:define name="notAuthorizedFormContent">
            <div align="center"><h:outputText value="" /></div>
        </ui:define>

        <ui:define name="notAuthorizedWestContent">
            <ui:include src="../WEB-INF/user/menu.xhtml" />
        </ui:define>

    </ui:composition>

</html>
