<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../../../WEB-INF/template/contentTemplate.xhtml">

        <ui:define name="title">#{msg['Diagram']}</ui:define>

        <ui:define name="authorizedFormTitle">
            <div align="center"><h:outputText value="#{msg['Diagram']}" /></div>
        </ui:define>

        <ui:define name="authorizedWestContent">
            <ui:include src="../../../WEB-INF/admin/menu.xhtml" />
        </ui:define>

        <ui:define name="authorizedFormContent">
            <p:growl autoUpdate="true" globalOnly="true" />

            <h:form>
                <h:panelGrid columns="2">
                    <p:outputLabel for="foodType" value="#{msg['Food_type']}: " />
                    <p:selectOneMenu id="foodType" value="#{foodItemsDiagramController.selectedFoodType}" converter="foodTypeConverter">
                        <p:ajax event="change" listener="#{foodItemsDiagramController.foodTypeSelectionChanged}" update=":diagram" />
                        <f:selectItem noSelectionOption="true" />
                        <f:selectItems value="#{foodTypesList}" var="foodType" itemLabel="#{foodType.name}" itemValue="#{foodType}" />
                    </p:selectOneMenu>
                </h:panelGrid>

            </h:form>

            <br />

            <p:diagram id="diagram" value="#{foodItemsDiagramController.model}" style="height:600px" styleClass="ui-widget-content" />

        </ui:define>
    </ui:composition>

</html>
