<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="../../WEB-INF/template/contentTemplate.xhtml">
        <ui:define name="title">My cart</ui:define>

        <ui:define name="notAuthorizedFormTitle">
            <div align="center"><h:outputText value="#{msg['Check_out']}" /></div>
        </ui:define>

        <ui:define name="notAuthorizedWestContent">
            <ui:include src="../../WEB-INF/user/menu.xhtml" />
        </ui:define>

        <ui:define name="notAuthorizedFormContent">
            <p:growl autoUpdate="true" globalOnly="true" />

            <h:form>
                <p:dataTable value="#{cartController.container.entrySet().toArray()}" var="cartItem" style="width: 750px">
                    <p:column headerText="#{msg['Name']}">
                        <h:outputText value="#{cartItem.key.name}" />
                    </p:column>

                    <p:column headerText="#{msg['Type']}">
                        <h:outputText value="#{cartItem.key.type.name}" />
                    </p:column>

                    <p:column headerText="#{msg['Count']}">
                        <h:outputText value="#{cartItem.value}" />
                    </p:column>

                    <p:column headerText="#{msg['Price']}">
                        <h:outputText value="#{cartItem.key.price * cartItem.value}" />
                    </p:column>
                </p:dataTable>

                <br />
                <p:commandButton value="#{msg['Do_check_out']}" action="#{cartController.checkOut}" update="@form" />
            </h:form>

        </ui:define>

    </ui:composition>
</html>
