<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form>
        <p:accordionPanel activeIndex="-1">
            <p:tab title="#{msg['Menu']}">
                <p:link value="#{msg['Foods']}" outcome="/user/food/viewAll" />
            </p:tab>
            <p:tab title="#{msg['Cart']}">
                <p:link value="#{msg['My_cart']}" outcome="/user/cart/view" />
            </p:tab>
        </p:accordionPanel>
    </h:form>

</ui:composition>
