<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:composition template="../WEB-INF/template/contentTemplate.xhtml">
        <ui:define name="title">Index page</ui:define>

        <ui:define name="authorizedFormTitle" />
        <ui:define name="authorizedFormContent" />

        <ui:define name="authorizedWestContent">
            <ui:include src="../WEB-INF/admin/menu.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
